{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Espace de connexion
{% endblock %}

{% block body %}
<div>
    <a href="{{ path('nao_platform_demande') }}">Demande de compte naturaliste</a>
</div>

{% endblock %}