{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Demande de compte naturaliste
{% endblock %}

{% block body %}
    <div class="container connexion_forms">
        <div class="row well col-sm-offset-1 col-sm-9 col-md-offset-2 col-md-8">
            <h4 class="text-center well">Vous avez déjà un compte particulier et vous souhaitez faire une demande de
                compte naturaliste ? <a href="{{ path('fos_user_security_login') }}">Connectez-vous</a> et cliquez sur
                le lien
                "Devenir naturaliste".</h4>
            {{ form_start(form) }}
            <div class="form-group form_search">

            </div>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            var length = 0;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                $('#chars').text(length);
            });
            $("#nao_platformbundle_user_motivation").after('<div class="count"><br/><i><span id="chars">0</span> caractères saisis</i></div>');

        });


    </script>
{% endblock %}