{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Demande de compte naturaliste
{% endblock %}

{% block body %}
<div>
    <p>Vous avez déjà un compte particulier et vous souhaitez faire une demande de compte naturaliste ? <a href="{{ path('fos_user_security_login') }}">Connectez-vous</a> et cliquer sur le lien "Devenir naturaliste".</p>
    {{ form(form) }}
</div>


{% endblock %}