{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Accueil
{% endblock %}

{% block body %}

<section id="bloc_observer" class="row fond-vert">
    <div class="col-md-offset-3 col-md-6 text-center">
        <h1>Découvrez l'ornithologie et alimentez un projet de recherche innovant.</h1>
        <h2>Partout en France, partez à la découverte des oiseaux et enregistrez vos observations.</h2>
        <button class="btn btn-lg bouton-main">PARTICIPER</button>
    </div>
</section>

<section id="bloc_dernieres_obs" class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
         <h1>Les dernières observations</h1>
        <div class="carte">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5597709.348924985!2d1.7382809999999997!3d46.75984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1479286488419"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
         <button class="btn btn-lg bouton-main">VOIR PLUS</button>
    </div>
</section>

<section id="bloc_naturalistes" class="row fond-vert">
    <div class="col-md-offset-3 col-md-6 text-center">
        <h1>Naturaliste, professionnel de l’ornithologie ou amateur éclairé ?</h1>
        <h2>Aidez notre projet en participant à la validation des observations</h2>
        <div class = "row">
            <div class="col-md-5 bloc-texte">
                <h3>Notre Projet</h3>
            </div>
            <div class="col-md-offset-2 col-md-5 bloc-texte">
                <h3>Notre Charte</h3>
            </div>
        </div>
        <button class="btn btn-lg bouton-main">PARTICIPER</button>
    </div>
</section>


{% endblock %}