{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Accueil
{% endblock %}

{% block body %}

<section id="bloc_observer" class="row fond-vert">
    <div class="col-md-offset-3 col-md-6 text-center">
        <h1>Découvrez l'ornithologie et alimentez un projet de recherche innovant.</h1>
        <h2>Partout en France, partez à la découverte des oiseaux et enregistrez vos observations.</h2>
        <button class="btn btn-lg bouton-main">PARTICIPER</button>
    </div>
</section>

<section id="bloc_dernieres_obs" class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
         <h1>Les dernières observations</h1>
         <button class="btn btn-lg bouton-main">VOIR PLUS</button>
    </div>
</section>

<section id="bloc_naturalistes" class="row fond-vert">
    <div class="col-md-offset-3 col-md-6 text-center">
        <h1>Naturaliste, professionnel de l’ornithologie ou amateur éclairé ?</h1>
        <h2>Aidez notre projet en participant à la validation des observations</h2>
        <div class = "row">
            <div class="col-md-5">
                <h3>Notre Projet</h3>
            </div>
            <div class="col-md-offset-2 col-md-5">
                <h3>Notre Charte</h3>
            </div>
        </div>
        <button class="btn btn-lg bouton-main">PARTICIPER</button>
    </div>
</section>


{% endblock %}