{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Rechercher
{% endblock %}

{% block body %}
    <div class="body">
        <h3>Formulaire de recherche</h3>
        <div class="well">

        </div>
    </div>

{% endblock %}