{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Rechercher
{% endblock %}

{% block body %}
    <div class="body">
        <div>
            <p>
Formulaire de recherche
            </p>
        </div>
    </div>

{% endblock %}