{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Liste comptes naturalistes
{% endblock %}

{% block body %}

{% block fos_user_content %}

{% include "NAOPlatformBundle:Profile:profile-layout.html.twig" %}

<div class="row well col-lg-offset-4 col-lg-4 col-lg-offset-4 col-sm-offset-3 col-sm-6 col-sm-offset-3">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <h2>Liste des comptes naturalistes à valider</h2>
            <ul class="list-group">
                {% for compte in comptesNatNonValides %}
                    <li class="list-group-item">
                        <p>nom : {{ compte.nom }} prenom: {{ compte.prenom }} profession: {{ compte.profession }} <button>Voir plus</button></p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
</div>

{% endblock %}

{% endblock %}