{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Mes observations
{% endblock %}

{% block body %}

    {% block fos_user_content %}

        {% include "NAOPlatformBundle:Profile:profile-layout.html.twig" %}

        <div class="row">
            <div class="well col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-12 col-xs-12">
                {% if not is_granted('ROLE_SUPER_ADMIN') %} {#Pour tous les user sauf admin#}
                    <h2 class="vos_obs">Vos observations :</h2>
                    {% if not is_granted('ROLE_ADMIN') %} {#Pour tous les user sauf admin & naturaliste#}
                        <div class="statut_obs">
                            <h4><span class="bloc_vert"> Validées </span></h4>
                            <h4><span class="bloc_orange"> En attente de validation </span></h4>
                        </div>
                    {% endif %}
                    <!-- Afficher sous forme de carte -->
                    <div id="map"></div>
                    <div id="observation" class="hidden">
                        {{ observation_JSON }}
                    </div>
                    {{ include('@NAOPlatform/Profile/listeObservations.html.twig') }}
                {% endif %}
            </div>
        </div>

    {% endblock %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQcmtlhakbZxEK68_wVMjV59kWTyPK9eA&region=FR&callback=initMapProfile">
    </script>

{% endblock %}