{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Observations en attente de validation
{% endblock %}

{% block body %}

{% block fos_user_content %}

{% include "NAOPlatformBundle:Profile:profile-layout.html.twig" %}

<div class="row well col-lg-offset-3 col-lg-6 col-lg-offset-3 col-sm-offset-3 col-sm-6 col-sm-offset-3">
    {% if (is_granted('ROLE_ADMIN') and (is_granted('ROLE_SUPER_ADMIN') == false)) %}
        <h2>Liste des observations refusées par {{ user.username }} ({{  listeObservations|length }})</h2>
        {{ include('@NAOPlatform/Profile/listeObservations.html.twig') }}
    {% endif %}
</div>

{% endblock %}
{% endblock %}